<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="thisServerName" value="localhost:54892"/>
    <add key="trustedDomainNameBackup" value="cloudcoin.co"/>
    <add key="trustedDomainName" value="cloudcoin.global"/>
    <add key="root" value="0DECE3AF-43EC-435B-8C39-E2A5D0EA8676"/>
    <add key="smtpServer" value="localhost"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpLogin" value="dale@localhost.com"/>
    <add key="smtpPassword" value="tuathaan00"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>