<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="root" value="0DECE3AF-43EC-435B-8C39-E2A5D0EA8676"/>
    <add key="thisServerPath" value="bank.cloudcoin.global/service/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>